* text=auto eol=lf
*.swift text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.md text eol=lf
*.json text eol=lf
*.strings text eol=lf
*.plist text eol=lf
*.rb text eol=lf
*.podspec text eol=lf
*.xcconfig text eol=lf
